{% extends "main/layout.html" %}

{% block content %}
  <h1>Жилые дома</h1>
    <form method="get" class="d-flex gap-3 align-items-center">
        <div class="flex-column">
            <label for="floors">Этажи:</label>
        <input class="form-control" id="floors" type="number" name="floors" value="{{ request.GET.floors }}">
        </div>
        <div class="flex-column">
            <label for="apartments">Кол-во апартаментов</label>
        <input class="form-control" id="apartments" type="number" name="apartments" value="{{ request.GET.apartments }}">
        </div>
        <div class="flex-column">
            <label for="address">Адрес</label>
        <input class="form-control" id="address" type="text" name="address" value="{{ request.GET.address }}">
        </div>
        <div class="flex-column">
            <label for="year_built">Год постройки</label>
        <input class="form-control" id="year_built" type="number" name="year_built" value="{{ request.GET.year_built }}">
        </div>
        <input type="submit" class="btn btn-primary mt-3" value="Фильтровать">
      </form>
      <div class="my-3">
        Сортировать по:
        <a href="?sort=floors">Этажи</a> |
        <a href="?sort=apartments">Кол-во квартир</a> |
        <a href="?sort=address">Адрес</a> |
        <a href="?sort=year_built">Год постройки</a>
      </div>
  <table class="table">
    <thead>
      <tr>
          <th class="col">Этажи</th>
        <th class="col">Кол-во квартир</th>
        <th class="col">Адрес</th>
          <th class="col">Год постройки</th>
        <th class="col">Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for house in houses %}
        <tr>
          <td>{{ house.floors }}</td>
          <td>{{ house.apartments }}</td>
          <td>{{ house.address }}</td>
          <td>{{ house.year_built }}</td>
          <td>
            <a href="{% url 'edit_house' pk=house.pk %}">Редактировать</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Жилых домов пока нету</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'new_house' %}">Добавить новый дом</a>
{% endblock %}
