{%extends 'main/layout.html'%}
{% load static %}

{% block title %}Сведения об управляющей компании{%endblock%}

{% block content %}
    <h1>Сведения об управляющей компании</h1>
    <p>Мы располагаемся в Калининграде и являемся самостоятельной организецией </p>
<p>Мы предлагаем инновационный комплекс программных продуктов, включающий:

онлайн личные кабинеты для удобного доступа к информации;

мобильные приложения, позволяющие управлять услугами ЖКХ на ходу;

продвинутые сервисы для точного расчета квартплаты и оптимального управления ЖКХ.

Для вашего комфорта наши программы могут быть использованы как в комплексе, так и по отдельности.


Мы осознаем, что каждый бизнес нуждается в индивидуальном подходе и поэтому предлагаем клиентам единую службу поддержки, готовую оперативно решать возникающие вопросы. Вы можете быть уверены, что наши эксперты всегда готовы предоставить консультацию и помощь в любой ситуации.

Наша основная цель – не только продавать программное обеспечение, но и помогать компаниям в развитии их бизнеса. Мы:

Поможем развернуть программное обеспечение как в облаке, так и на вашей инфраструктуре.

Обучим ваших специалистов выжимать из ПО максимум пользы.

Поможем как в вводе первоначальных, так и текущих данных.

Перенесем информацию из других систем.

Внедрим сервисы для оптимизации рабочих процессов.

Освободим время ваших сотрудников для выполнения других задач.

Поможем снизить затраты и эффективнее управлять бюджетом.

Поможем адаптировать программное обеспечение под ваши индивидуальные требования.


С нашей помощью ваша компания получит надежную поддержку и оптимальные инструменты для успешного развития. Компания «Тиражные решения 1С-Рарус» — это неповторимая команда профессионалов, предлагающая комплексное обслуживание и помощь на каждом этапе внедрения и использования наших продуктов.</p>
    <img src="{% static 'main/img/dom.jpeg' %}" alt="" style="display: block; margin-bottom: 15px">

    Наши клиенты - наш главный приоритет. Мы стремимся к тому, чтобы каждый клиент был доволен и получал максимальную отдачу от наших продуктов и услуг. Мы предлагаем индивидуальные решения, адаптированные под специфические потребности каждого клиента, и поддерживаем вас на каждом этапе вашего пути.

Безопасность данных для нас имеет первостепенное значение. Мы используем передовые технологии и строгие меры безопасности для обеспечения конфиденциальности и защиты информации наших клиентов. Наши продукты и сервисы разработаны с учетом лучших практик в области информационной безопасности и соответствуют международным стандартам.

Мы также постоянно инновируем и улучшаем наши продукты и сервисы. Наша команда специалистов постоянно следит за последними трендами и развивает новые функции и опции, чтобы удовлетворить растущие потребности наших клиентов. Мы гордимся тем, что являемся лидерами в нашей отрасли, и стремимся улучшать качество жизни наших клиентов с помощью наших инновационных решений.

Мы верим, что важнейшей частью нашего успеха являются наши сотрудники. Наша команда - это собрание талантливых, энергичных и увлеченных профессионалов, которые каждый день приходят на работу с желанием создавать лучшие продукты и услуги для наших клиентов. Мы стремимся к культуре, в которой каждый член нашей команды чувствует себя ценным и включенным.

Компания «jkh» - это не просто компания, предлагающая программное обеспечение. Мы - это партнеры нашим клиентам в их пути к успеху и стремимся помочь каждому клиенту достичь его целей.
{%endblock%}
