{%extends 'main/layout.html'%}
{% load static %}
{% block title %}{{ title }}{%endblock%}

{% block content %}
    <div class="features">
        <h1 align="center">{{ title }}</h1>
        <p>Управляющая компания jkh приветствует вас на нашем сайте!</p>

        <p>Управляющая компания (УК) предоставляет жителям комфортные условия проживания и соблюдение законов.</p>

<p>Обязательства управляющей компании регулируют:

Жилищный кодекс,

Постановление Правительства №354,

Постановление Госстроя №170,

другие нормативные акты,

договоры, заключенные с жильцами.

Обязанности управляющей компании делятся по сферам ответственности:
содержание жилья;

ремонт жилья;

предоставление коммунальных услуг;

прочие обязательства.

</p>

<p align="center">
    <img  src="{% static 'main/img/logo.png' %}" alt="" style="display: block; margin-bottom: 15px"}>
</p>

<p>ООО «УК JKH» имеет в штате специалистов - слесарь, сварщик, кровельщик, электрик, главный энергетик, главный инженер, мастер по обслуживанию МКД, паспортист, бухгалтер по расчету с населением, а также для обслуживания жилого фонда приобретены в автосалоне два автомобиля (ГАЗ «Соболь», дубль кабина, 2022 года выпуска),
    заключены договора с аварийными службами и клининговыми организациями.

    <style>
 table {
   border-collapse: collapse;
 }
 th, td {
   border: 1px solid black;
 }


 table {
      border-spacing: 15px;
      background-color:MediumSpringGreen;
    }

</style>


</head>
  <body>

 <table align="center" >
  <h2 align="center">Вызов мастера на дом</h2>

   <tr><th > Специалист</th><th>График работы</th><th>Выходные дни</th><th>Количество сотрудников</th><th>Цена вызова за час</th></tr>
   <tr><td>Слесарь</td><td> Пн-Пт </td><td>Сб-Вс </td><td>4 человека </td><td>2300 р </td></tr>
  <tr><td>Сварщик</td><td> Пн-Чт </td><td>Пт-Вс </td><td>2 человека </td><td>3000 р </td></tr>
  <tr><td>Кровельщик</td><td> Пн-Пт </td><td>Сб-Вс </td><td>10 человек </td><td>2500 р </td></tr>
  <tr><td>Электрик</td><td> Пн-Пт </td><td>Сб-Вс </td><td>6 человек </td><td>4000 р </td></tr>
  <tr><td>мастер по обслуживанию МКД</td><td> Пн-Пт </td><td>Сб-Вс </td><td>1 человек </td><td>1800 р </td></tr>
 </table>
  </body>
</p>
<p>

Реквизиты ООО «УК «JKH»
ИНН 3900000000 КПП 390000000
ОРГН 1161111111111
Р/с 40702810320000004716
К/с 30101810100000000634
Банк Калининградское отделение №8626
ПАО Сбербанк г. Калининград
БИК 042748634
</p>




</html>

    </div>
{%endblock%}