{%extends 'main/layout.html'%}

{% block title %}Наши контакты{%endblock%}

{% block content %}
    <div class="features">
        <h1>Наши контакты</h1>
    </p>
</div>

<table align="center" style=" background-color:#09DA09; border-radius:1rem; border-collapse: separate;border-spacing: 1rem 0.5em;" >
    <h2 align="center">График работы</h2>
    
    <tr><th>День недели</th><th>Время работы</th><th>Обеденный перерыв</th></tr>
    <tr><td>Понедельник</td><td>9:00 - 18:00</td><td>10:00 - 17:00</td></tr>
    <tr><td>Вторник</td><td>9:00 - 18:00</td><td>10:00 - 17:00</td></tr>
    <tr><td>Среда</td><td>9:00 - 18:00</td><td>10:00 - 17:00</td></tr>
    <tr><td>Четверг</td><td>9:00 - 18:00</td><td>10:00 - 17:00</td></tr>
    <tr><td>Пятница</td><td>9:00 - 18:00</td><td>10:00 - 17:00</td></tr>
</table>
<h4 align="center">Телефон диспетчера: 8 (4012) 03-32-22</h4>
<h4 align="center">
    Телефон для заявок и консультаций: 8 (4012) 03-32-21
</h4>
<h5 align="center">Адрес места приема граждан Калининградская обл, г. Калининград, ул. Лейтенанта Яналова, д. 42</h5>
    <div
    style= "
    margin-top:1rem;
    display:flex;
    justify-content:center;
    
    "    
    >
    <script 
    type="text/javascript" 
    charset="utf-8" 
    async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A91b8b0141ce800657615c03fb5210ea7bfceb0637a5a96361c7a2ea22c2af0a9&amp;width=900&amp;height=400&amp;lang=ru_RU&amp;scroll=true">
</script>

</div>



{%endblock%}