{% load static %}
<!doctype html>
<html lang="ru">
<head>
    {% comment %} Перименовать виды услуг в заявки {% endcomment %}
{% comment %} Добавить карту {% endcomment %}
{% comment %} график работы таблицой {% endcomment %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
<body>
    <aside>
        <div class="logo-wrapper">
            <img class="logo" src="{% static 'main/img/logo.png' %}" alt="Лого">
        </div>
        <h3>Навигация</h3>
        <ul class="menu">
            <a href="{% url 'home' %}"
               {% if request.resolver_match.url_name == "home" %}class="active"{% endif %}>
              <li >
                <i class="fa-solid fa-house"></i>Главная
              </li>
            </a>
            <a href="{% url 'about' %}"
                {% if request.resolver_match.url_name == "about" %}class="active"{% endif %}>
                <li>
                    <i class="fa-solid fa-circle-info"></i>Сведения об управляющей компании
                </li>
            </a>
            
            <a href="{% url 'konatky' %}"
               {% if request.resolver_match.url_name == "konatky" %}class="active"{% endif %}>
                <li >
                    <i class="fa-solid fa-address-book"></i>Контакты
                </li>
            </a>
            <a href="{% url 'create' %}"
               {% if request.resolver_match.url_name == "create" %}class="active"{% endif %}>
            {% if request.user.is_authenticated %}
                <li >
                    <i class="fas fa-plus-circle"></i>Подача Заявок
                </li>
            </a>
            {% if request.user.username in 'Admin Danon' %}
            <a href="{% url 'house_list' %}"
               {% if request.resolver_match.url_name == "house_list" %}class="active"{% endif %}>
                <li >
                    <i class="fa-solid fa-sign-hanging"></i>Жилые дома
                </li>
            </a>
            <a href="{% url 'vidyrabot_home' %}"
            {% if request.resolver_match.url_name == "vidyrabot_home" %}class="active"{% endif %}>
             <li>
                 <i class="fa-solid fa-book"></i>Заявки
             </li>
         </a>
            <a href="{% url 'tenant_list' %}"
               {% if request.resolver_match.url_name == "tenant_list" %}class="active"{% endif %}>
                <li >
                    <i class="fa-solid fa-person"></i>Жильцы
                </li>
            </a>
            <a href="{% url 'payment_list' %}"
               {% if request.resolver_match.url_name == "payment_list" %}class="active"{% endif %}>
                <li >
                    <i class="fa-solid fa-cart-shopping"></i>Платежи
                </li>
            </a>
            <a href="/admin"
            {% if request.resolver_match.url_name == "payment_list" %}class="active"{% endif %}>
             <li >
                 <i class="fa-solid fa-cog"></i>Админ-панель
             </li>
         </a>
        

            {% endif %}

                        <a href="{% url 'logout' %}"
               {% if request.resolver_match.url_name == "logout" %}class="active"{% endif %}>
                <li >
                    <i class="fa-solid fa-user"></i></i>Выход
                </li>
            </a>
            {% else %}
            <a href="{% url 'login' %}"
               {% if request.resolver_match.url_name == "login" %}class="active"{% endif %}>
                <li >
                    <i class="fa-solid fa-user"></i></i>Авторизоваться
                </li>
            </a>
            {% endif %}
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
